<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" href="css/Home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="images/FBLA.png" alt="" id="logo">
        <nav class="navigation">
                <a th:href="@{/index}">Home</a></li>
                <a th:href="@{/RemoveAndAddPostings}">Submit a Job</a>
                <a th:href="@{/ApprovedPostings}">View current jobs</a>
                <a th:href="@{/Donations}">DONATE</a>
        </div>
    </header>
    <section class="website">
        <img src="images/background.jpg" alt="" id="background">
        <h2 id="top-text">Paralax Website</h2>
    </section>
    <section class="description">
        <h2>Parallax</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum magni repellendus cupiditate alias, est inventore. Alias magni beatae impedit, incidunt aspernatur aut molestias corporis odio hic repellendus quo eveniet numquam quidem! Nisi maxime autem magnam dolorum? Amet itaque, quisquam est modi veniam aliquam laboriosam quidem facere expedita sit voluptates! Accusantium non, odit vitae omnis asperiores, explicabo odio expedita ex quod similique neque, facere tenetur. Voluptatibus in perferendis quisquam! Repellendus enim reiciendis blanditiis. Adipisci eum natus cumque animi corrupti aspernatur. Inventore assumenda ipsa, repellat vero saepe id quam accusamus ratione corporis vitae quis mollitia qui molestiae. Est eaque ducimus aliquid, quam inventore assumenda pariatur consequatur esse rerum aut earum sint unde harum incidunt ea molestias natus odit perspiciatis consequuntur nostrum ex. Non eos natus id ipsam dolorum reiciendis doloremque laudantium.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum magni repellendus cupiditate alias, est inventore. Alias magni beatae impedit, incidunt aspernatur aut molestias corporis odio hic repellendus quo eveniet numquam quidem! Nisi maxime autem magnam dolorum? Amet itaque, quisquam est modi veniam aliquam laboriosam quidem facere expedita sit voluptates! Accusantium non, odit vitae omnis asperiores, explicabo odio expedita ex quod similique neque, facere tenetur. Voluptatibus in perferendis quisquam! Repellendus enim reiciendis blanditiis. Adipisci eum natus cumque animi corrupti aspernatur. Inventore assumenda ipsa, repellat vero saepe id quam accusamus ratione corporis vitae quis mollitia qui molestiae. Est eaque ducimus aliquid, quam inventore assumenda pariatur consequatur esse rerum aut earum sint unde harum incidunt ea molestias natus odit perspiciatis consequuntur nostrum ex. Non eos natus id ipsam dolorum reiciendis doloremque laudantium.<br><br>
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum magni repellendus cupiditate alias, est inventore. Alias magni beatae impedit, incidunt aspernatur aut molestias corporis odio hic repellendus quo eveniet numquam quidem! Nisi maxime autem magnam dolorum? Amet itaque, quisquam est modi veniam aliquam laboriosam quidem facere expedita sit voluptates! Accusantium non, odit vitae omnis asperiores, explicabo odio expedita ex quod similique neque, facere tenetur. Voluptatibus in perferendis quisquam! Repellendus enim reiciendis blanditiis. Adipisci eum natus cumque animi corrupti aspernatur. Inventore assumenda ipsa, repellat vero saepe id quam accusamus ratione corporis vitae quis mollitia qui molestiae. Est eaque ducimus aliquid, quam inventore assumenda pariatur consequatur esse rerum aut earum sint unde harum incidunt ea molestias natus odit perspiciatis consequuntur nostrum ex. Non eos natus id ipsam dolorum reiciendis doloremque laudantium.<br><br>
        </p>
    </section>
    <script type="text/javascript" src="js/Home.js"></script>
</body>
</html>